.container{
  width: 46rem;
  height: 4.5rem;
  background-color: var(--gray-500);
  border-radius: 0.5rem;
  border: 1px solid var(--gray-400);
  padding: 1rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  button{
    background-color: var(--gray-500);
    border: none;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  span p{
    font-size: 0.875rem;
  }

}
